.story-upload-container{
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    padding: 20px;
    max-width: 750px;
}

.page-main-header{
    font-weight: 600;
    font-size: 15px;
    text-align: right;
}

.input-container{
    display: flex;
    flex-direction: column;
}

input[type=checkbox]:checked + label{
    background-color: rgba(63, 63, 63, 1);
}

.field-label{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 15px;
}

textarea{
    background-color: rgba(245, 245, 245, 1);
}

.input-field{
    display: block;
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
    border: 1px solid gray;
}

.story-checkbox input{
    display: none;
}

.story-checkboxes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.story-checkbox label{
    background-color: rgba(196, 196, 196, 1);
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.submit-story{
    background-color: rgba(205, 83, 31, 1);
    color: white;
    height: 50px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .submit-story{
        width: 250px;
        position: absolute;
        top: 70%;
        left: 0;
        border-radius: 0 4px 4px 0;
    }
    .story-upload-container{
        margin-right: 5px;
    }
  }