.homepage-container {

    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    text-align     : right;
    margin         : 2rem;

    .header {
        text-align: center;
    }

    .opening-text {
        font-size : 1.5rem;
    }

    .closing-text {
        text-align: center;
    }

    button {
        margin-top      : 1rem;
        padding         : 1rem;
        text-align      : center;
        background-color: #3692d4;
        border-radius   : 5px;
        margin-left     : 10px;
        margin-right    : 10px;
        margin-bottom   : 15px;
        color           : white;
    }

    ul {
        margin    : 0.75em 0;
        padding   : 0 1em;
        list-style: none;
    }

    li::before { 
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 0.35em 10px 0.35em 0em;
        display: block;
        height: 0;
        width: 0;
        left: 1em;
        top: 1.2em;
        position: relative;
      }
}