.homepage-container {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    text-align     : center;

    margin: 2rem;

    .opening-text {
        text-align: center;
        font-size : 1.5rem;
    }

    button {
        margin-top      : 1rem;
        padding         : 1rem;
        text-align      : center;
        background-color: #3692d4;
        border-radius   : 5px;
        margin-left     : 10px;
        margin-right    : 10px;
        margin-bottom   : 15px;
        color           : white;
    }

    .triangle {
        width: 20px;
        height: 20px;
        
    }

}