*img {
  width: 100%;
}
.storyCheckNew-comp {
  background-color: #e2e1df;
  min-width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;

}
.storyCheckNew-compMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 1.25rem; */
  padding: 2.5rem 0;
}
.card {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  flex: 11rem;
  max-width: 11rem;
  height: 10rem;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #e2e1df;
  overflow: hidden;
  position: relative;
}
.cardIcon {
  height:20px ;
  width:16px ;
  margin:0 0.5625rem;
  position: absolute;
  top:6px;
  right:-6px;
}
.cardText {
  background-color: #0c475eb2;
  height: 2.25rem;
  width: 100%;
  margin:  auto 0;
}
.cardText h6 {
  color: white;
  text-align: center;
  line-height: 200%;
}
.cardImg {
  width: 100%;
  height: 7.6rem;
  object-fit: cover;
}
