*img {
  width: 100%;
}
.storyCheckNew-comp {
  background-color: #e2e1df;
  min-width: 100vw;
  margin: 0 auto;
}

.storyCheckNew-compMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2.5rem 0;
  justify-content: space-around;
}

.storyCheckNew-card {
  /* flex: 1 1 10rem; */
  flex: 0 1 10rem;

  margin: 0.4rem;
  height: 10rem;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #e2e1df;
  overflow: hidden;
  position: relative;
  margin-left: auto;
}

.storyCheckNew-cardIcon {
  height: 20px;
  width: 16px;
  position: absolute;
  top: 10px;
  right: 7px;
}
.storyCheckNew-cardText {
  background-color: #0c475eb2;
  height: 2.3rem;
  width: 100%;
  margin: auto 0;
}
.storyCheckNew-cardText h6 {
  color: white;
  text-align: center;
  line-height: 200%;
}
.storyCheckNew-cardImg {
  width: 100%;
  height: 7.6rem;
  object-fit: cover;
}
