.app-header {
  height: 56px;
  padding: 0 24px;
  background-color: #a7c6d3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: grid;
    place-content: center;
    
  }
  .nav-btn .hamburger {
    left: 90%;
    right: 5%;
    top: 39.29%;
    bottom: 39.29%;
    width:20px;
    height: 20px;
  }

  .navbar-container {
    position: fixed;
    right: 0;
    top: 56px;
    background-color: #a7c6d3;
    display: none;
    
    &.open {
      display: block;
    }


    .nav-item {
      padding: 20px 0;
      width: 292px;
      display: grid;
      place-content: center;
      text-decoration: none;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid #fafafa;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #fafafa;
      }
    }
  }
}

.logo {
  position:absolute;
  left: 45%;
  right:45%;
  background-color: #a7c6d3; 
  mix-blend-mode: multiply;
  width:5%;
  height:8.5%;
  
}

.user-container {
  position:absolute;
  left:2%;
  right: 92.41%;
  width:3.2%;
  height:5%;
  top: 2.2%;
  

}

.hi-guest {
  position:absolute;
  left:8%;
  right: 84.41%;
}

