.header-container {
  padding-top: 10px;
  width: 100%;
  direction: rtl;
  background-color: #040438;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  .navbar {
    display: flex;
    align-content: center;
    ul {
      display: flex;
      list-style: none;
      color: #000;

      .nav-item {
        .nav-link {
          color:white; 
        }
      }
    }
  }
  img {
    width: 35%;
    float: left;
  }
}

