.SecondHeader {

    text-align: right;

    #buttons {
        display   : inline;
        list-style: none;
        padding   : 0px;
    }

    #buttons li {
        display: inline;
        padding   : 0px 10px 0px 10px;
    }

    li::before {
        display: inline !important;
        border-style: none !important;
    }

    #buttons .Button {
        color        : black;
        border-radius: 4px !important;
        width: 172.33px;
        height: 28px;
        padding: 23px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }

    // #buttons .Button:hover {
    //     background-color: #8DA7B2;
    // }

    @media all and (max-width: 600px), (max-height: 550px) {
    
        text-align: center;
        height: 28px;

        #buttons {
            display: table;
            width: 100%
        }

        #buttons li {
            display: table-cell;
            padding: 10px;
        }

        #buttons .Button {
            display: flex;
            text-align: center;
            width: 100%;
            border-radius: 6px;
        }

    }
}