.Search{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    background-color: #fff;
}
.search-input{
    background: #C1D4DB;
    border: 1px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1.5rem;
    height: 2rem;
}